<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
  <title>Confirme sua Presença</title>
  <style>
    * {
      font-family: "Cormorant Garamond";
      font-size: 120%;
    }
  </style>
</head>
<body data-bs-theme="light" class="d-flex flex-column align-items-center justify-content-center" style="background: url(https://static.wixstatic.com/media/765138_6e147b70e446460e954b8dc64cc2bfc7~mv2.png/v1/fill/w_895,h_1280,al_c,q_90,enc_auto/765138_6e147b70e446460e954b8dc64cc2bfc7~mv2.png); height: 100vh;">
  <div class="d-flex flex-column w-100 align-items-center px-3">
    <h2 class="text-center fs-1 lh-1" style="max-width: 20rem;">Olá <strong class="fs-1 fw-bold"><%= name %></strong>, seja bem vindo(a) a nossa <strong class="fs-1">área de confirmação!</strong> <br><br>Para confirmar sua presença em nosso casamento no dia <span class="fs-1 fw-bold">00/00/0000</span> às <span class="fs-1 fw-bold">00:00</span> horas basta clicar em</h3>
      <input type="button" value="Confirmar" class="btn btn-dark fs-2 rounded border-0 p-2 m-3" id="confirm">
      <div id="response" class="text-center text-light rounded"></div>
      <span id="id" class="d-none"><%= id %></span>
      <h1 class="mt-5">G & G</h1>
  </div>

  <script>
    const id = document.querySelector('#id').textContent
    const response = document.querySelector('#response')
    const button = document.querySelector('#confirm')
      button.addEventListener('click', function(ev) {
        confirmPresence()
        ev.currentTarget.classList.add('disabled')
      })

    async function confirmPresence() {
      const res = await fetch('http://localhost:8080/confirm/' + id, {
        method: 'PUT'
      })
      if(res.status == 500) {
        response.style.background = '#f26e5c'
        response.classList.add('p-2', 'fs-6', 'border-2', 'mt-2', 'text-dark')
        response.textContent = 'Ops!, houve algum erro na comunicação com o servidor, tente novamente mais tarde. Se o erro persistir entre em contato (69) 99203-0813'
        button.style.display = 'none'
      } else if(res.status == 422) {
        response.style.background = '#edb75a'
        response.classList.add('p-2', 'fs-6', 'border-2', 'text-dark', 'fw-bold', 'mt-2')
        response.textContent = 'Hey! parece que sua presença já esta confirmada, estamos te aguardando!'
        button.style.display = 'none'
      }
      else if(res.status == 204) {
        response.style.background = '#aced7e'
        response.classList.add('fw-bold', 'p-2', 'fs-6', 'border-2', 'mt-2', 'text-dark')
        response.textContent = 'Sua presença foi confirmada, te aguardamos ansiosamente!'
        button.style.display = 'none'
      }
    }
  </script>
</body>
</html>